<footer>
	<div class="col-lg-3">
		<p><i class='fa fa-envelope footer-media-small'><a href='#' class='footer-link'></i> HELP@PIMACLUB.COM</a></p>
	</div>
	<div class="col-lg-3">
		<p><i class='fa fa-phone footer-media-small'></i><a href='#' class='footer-link'> (888) 555 5555</a></p>
	</div>
	<div class="col-lg-3" style='height:100px'>
			<a href="#" class='footer-link'><i class='fa fa-facebook-official footer-media'></i></a>
			<a href="#" class='footer-link'><i class='fa fa-instagram footer-media'></i></a>
			<a href="#" class='footer-link'><i class='fa fa-twitter-square footer-media'></i></a>
			<a href="#" class='footer-link'><i class='fa fa-google-plus-square footer-media'></i></a>
	</div>
	<div class="col-lg-3">
		<button class='btn-orange join-our-email-list'>JOIN OUR EMAIL LIST</button>
	</div>
</footer>