<style type='text/css'>
	footer {
		width: 100%;
		margin: 0 !important;
		border: 0;
		background-color: #222222;
		color: #777777;
		padding: 2rem 4rem;
	}
	.footer-links {
		list-style-type: none;
	}
	.footer-links li a:hover {
		color: white;
		text-decoration: none;
	}

	.footer-links li a {
		color: #777777;
	}
</style>

<div class='col-lg-offset-1 col-lg-4'>
	<h3 class='footer-links'>Footer stuff</h3>
	<p>© 2012 - 2015 HF Global, Inc. All Rights Reserved.</p>
	<p>Harry's, H', Mammoth Design, Give a Shave, Truman, and HF are trademarks and/or registered trademarks of HF Global, Inc.</p>
	<p>Privacy Policy | Terms of Use</p>
</div>

<div class='col-lg-offset-2 col-lg-4'>
	<h3>Contact</h3>
	<ul class='footer-links'>
		<li><a href="#">links asdfasdf asdf sadf</a></li>
		<li><a href="#">links asdf asdasdf adfs</a></li>
		<li><a href="#">links asdfasd fadfs sad</a></li>
		<li><a href="#">links asdf asddfas  fasd</a></li>
	</ul>
</div>