<style type='text/css'>
    
    .navbar {
        padding: .25rem 1rem;
    }

</style>

<nav class="navbar-inverse navbar-fixed-top navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/">
            <i class="fa fa-play-circle"></i>  <span class="light">Pima Club</span>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/products">Products</a>
            </li>
            <li>
                <a href="/subscriptions">Subscription</a>
            </li>
            <% if logged_in? -%>
                <li>
                    <a href = "/sessions/destroy">Log Out</a>
                </li>
            <% else -%>
                <li>
                    <a href = "#signup-modal">Sign up</a>
                </li>
                <li>
                    <a href = "#login-modal">Log in</a>
                </li>
            <% end %> 
            <% if User.check_role(session[:user_id]) %>
                <li>
                    <a href = "/dashboard">Dashboard</a>
                </li>
            <% end %>

        </ul>
    </div>
</nav>