<!-- SIGNUP MODAL -->
<div class="remodal" data-remodal-id="signup-modal" role="dialog" aria-labelledby="signup-modal" aria-describedby="signup-modal-desc">

	<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
			<%= e %>
		<% end %>
	<% end %>

   <form id='sign-up' class="form-horizontal" action='/users' method='post'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-4">
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="form-group">
            <label for="first_name" class="col-lg-offset-1 col-lg-3 control-label">First Name</label>
	        <div class="col-lg-6">
	            <input type="text" class="form-control" id="first_name" name='user[first_name]' placeholder="First Name">
	        </div>
      	</div>
        <div class="form-group">
            <label for="last_name" class="col-lg-offset-1 col-lg-3 control-label">Last Name</label>
	        <div class="col-lg-6">
	            <input type="text" class="form-control" id="last_name" name='user[last_name]' placeholder="Last Name">
	        </div>
      	</div>
        <div class="form-group">
            <label for="email" class="col-lg-offset-1 col-lg-3 control-label">Email</label>
	        <div class="col-lg-6">
	            <input type="email" class="form-control" id="email" name='user[email]' placeholder="Email">
	        </div>
      	</div>
        <div class="form-group">
            <label for="password" class="col-lg-offset-1 col-lg-3 control-label">Password</label>
	        <div class="col-lg-6">
	            <input type="password" class="form-control" id="password" name='user[password]' placeholder="Password">
	        </div>
      	</div>
        <div class="form-group">
            <label for="confirm_password" class="col-lg-offset-1 col-lg-3 control-label">Confirm Password</label>
	        <div class="col-lg-6">
	            <input type="password" class="form-control" id="confirm_password" name='user[confirm_password]' placeholder="Confirm Password">
	        </div>
      	</div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-success" value='Sign Up'>
                    <a href="/auth/facebook" class="facebook btn btn-primary margin"><i class="fa fa-facebook"></i> Sign up with Facebook</a>
                </div>
            </div>
        </div>
    </form>
    <a class='col-lg-12' href='/#login-modal'>Returning user? Click here to log in.</a>
    <!-- <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button> -->
    <!-- <button data-remodal-action="confirm" class="remodal-confirm">OK</button> -->
</div>
<!-- END SIGNUP MODAL -->