<style type='text/css'>
	
#sign-up {
	margin: 100px 0 0 0;
}

</style>



<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<%= e %>
	<% end %>
<% end %>


<form id='sign-up' class="form-horizontal" action='/users' method='post'>
	<input type = "hidden" name = "authenticity_token" value = "<%=form_authenticity_token%>">
	
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-4">
	      	<h1>Sign Up</h1>
	    </div>
  	</div>
	<div class="form-group">
	    <label for="first_name" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-4">
		<input type="text" class="form-control" id="first_name" name='user[first_name]' placeholder="First Name">
    </div>
  </div>
	<div class="form-group">
	    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-4">
		<input type="text" class="form-control" id="last_name" name='user[last_name]' placeholder="Last Name">
    </div>
  </div>
	<div class="form-group">
	    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
		<input type="email" class="form-control" id="email" name='user[email]' placeholder="Email">
    </div>
  </div>
	<div class="form-group">
	    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
		<input type="password" class="form-control" id="password" name='user[password]' placeholder="Password">
    </div>
  </div>
	<div class="form-group">
	    <label for="confirm_password" class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-4">
		<input type="password" class="form-control" id="confirm_password" name='user[confirm_password]' placeholder="Confirm Password">
    </div>
  </div>
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-4">
	      	<div class="checkbox">
	        	<label>
          			<input type="checkbox"> Remember me
        		</label>
	      	</div>
	    </div>
  	</div>
	<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Sign Up</button>
    </div>
  </div>
</form>