<div class = "col-lg-12">
    <br>
    <section class="row banner-section about-banner-one">
        <div class='col-lg-12 text-center'>
            <%= image_tag('about_index_banner_one_background.png', :id => 'about-index-banner-one-background') %>
        </div>
    </section>    
    <section class="row banner-section about-banner-two text-center">
        <h2>HOW IT HAPPENED</h2>
        <p class='col-lg-6 col-lg-offset-3'>It's simple, we got tired of putting a shirt on only for it to be worn out after only a few uses and having to drive down the the store constantly to buy several more. So we created Pima Club! Now you always have a great looking shirt in your drawer.</p>
    </section>
    <section class="row banner-section about-banner-three text-center">
        <div class="col-lg-6 no-padding">
            <%= image_tag('about_index_unicef.png', :id => 'about-index-unicef') %>
        </div>
        <div class='col-lg-6'>
        	<h2>WE GIVE A SHIRT</h2>
        	<p>Apart from helping you look good, Pima Club is in business to help improve lives and wants your help. With every package, you'll also receive a pre-paid label so you can ship your old shirts to our partner, UNICEF, who helps us give them to the less-fortunate. <b>With every shipment, you are helping change lives.</b></p>
        </div>
    </section>    
    <section class="row banner-section about-banner-four text-center">
        <div class="col-lg-6">
            <h2>WE GIVE A SHIRT</h2>
        	<p>Apart from helping you look good, Pima Club is in business to help improve lives and wants your help. With every package, you'll also receive a pre-paid label so you can ship your old shirts to our partner, UNICEF, who helps us give them to the less-fortunate. <b>With every shipment, you are helping change lives.</b></p>
        </div>
        <div class='col-lg-6 no-padding'>
        	<%= image_tag("about_index_interactive_slider_image.png", :id => "about-index-interactive-slider-image") %>
        </div>
    </section>  
    <div class="spaced"></div>
    <section class="row banner-section about-banner-four text-center">
        <div class='col-lg-6 no-padding'>
        	<%= image_tag("about_index_founders.png", :id => "about-index-founders") %>
        </div>
        <div class="col-lg-6">
            <h2>MEET THE FOUNDERS</h2>
            <h3>Joseph Lage and Jan De La Cruz</h3>
        	<p>Apart from helping you look good, Pima Club is in business to help improve lives and wants your help. With every package, you'll also receive a pre-paid label so you can ship your old shirts to our partner, UNICEF, who helps us give them to the less-fortunate. With every shipment, you are helping change lives. Apart from helping you look good, Pima Club is in business to help improve lives and wants your help. With every package, you'll also receive a pre-paid label so you can ship your old shirts to our partner, UNICEF, who helps us give them to the less-fortunate. With every shipment, you are helping change lives.</p>
        </div>
    </section>
    <div class="row spaced text-center">
	    <button class='btn-orange' onClick="location.href='/subscriptions/new'">Get Started</button>
    </div>
</div>