/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_directory .
 *= require_self
 */


/* TODO: ADD LEGIT NORMALIZE CSS */

*, div, .col-lg-12, .row {
    margin: 0;
    padding: 0;
    border: 0;
}


/* TOP NAV */



/* ADMIN SIDE NAV */

/*#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}*/

/*.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}*/


/* CONTAINER */

/*.container {
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}*/

/*.container.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 250px;
}

.container.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

.container.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

.container.toggled {
    padding-left: 250px;
}*/


/* CONTENT */

.content {
    margin-top: 30px;
}

/*.container.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.container.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}*/










body {
    background-color: #8A8A8A;
}

.banner-section { 
    height: 400px;
}


/* NAVBAR */
.navbar {
    padding: .25rem 1rem;
    background-color: #FFFFFF;
    border: 0;
}

ul.nav.navbar-nav.navbar-right li a {
    color: #121212;
    text-transform: uppercase;
    font-weight: bold;
}    
ul.nav.navbar-nav.navbar-right li a:hover {
    color: #121212;
}
.navbar-header a span {
    color: #121212;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #000000;
}



/* FOOTER */
footer {
    width: 100%;
    height: 100px;
    margin: 0 !important;
    border: 0;
    background-color: #8A8A8A;
    color: #FFFFFF;
    padding: 2rem 4rem;
}

.join-our-email-list {
    width: 200px;
}
.footer-link {
    color: #FFFFFF;
}
.footer-link i:hover {
    color: #000000;
}
.footer-media {
    font-size: 50px;
    color: #FFFFFF;
}
.footer-media-small {
    font-size: 25px;
    color: #FFFFFF;
}


/* WELCOMES INDEX STYLING */

.index-banner-one {
    background-color: #7D7D7D;
    vertical-align: middle;
}
.index-banner-one div:first-child {
    color: #FFFFFF;
    font-size: 1.4em;
}
.btn-orange {
    background-color: #F2622E;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    font-size: 1em;
}
.index-banner-two {
    background-color: #FFFFFF;
    height: 500px;
}
.circle {
    width: 200px;
    height: 200px;
    background-color: #545454;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin: 0 auto;
}
.spaced {
    margin: 5rem auto;
    color: #FFFFFF;
}
#welcome-index-comfort-guarantee {
    width: 100%;
    height: 100%;
}
.index-banner-three {
    height: 400px;
}
.index-banner-three div {
    height: 400px;
}
.index-banner-three div:nth-child(1) {
    padding: 0;
}
.index-banner-three div:nth-child(2) {
    background-color: #FFFFFF;
    /*padding: 8rem 0;*/
}
.index-banner-three div:nth-child(3) {
    background-color: #FFFFFF;
    /*padding: 8rem 0;*/
}
.choose-your-style-banner {
    background-color: #FFFFFF;
    height: 500px;
    box-shadow: 0 5px 5px -2px #000000;
    position: relative;
}
.index-banner-four {
    height: 400px;
    background-color: #FFFFFF;
    z-index: -1;
}
.index-banner-four div:nth-child(2) {
    padding: 0;
}

.index-banner-five {
    height: 575px;
    background-color: #FFFFFF;
}
#welcomes-index-pima-model {
    height: 100%;
}

#welcome-index-vneck{
   height: 325px; 
   width: 300px;
}
#welcome-index-crewneck{
   height: 325px; 
   width: 300px;
}
#welcomes-index-happy-children{
    height: 400px;
    width: 100%;
}
#welcomes_index_black_crewneck{
    height: 325px;
    width: 300px;
}


/* PRODUCTS */

.product-container {
    margin-top: 50px;
}
.shirt-banner-row {
    background-color: #FFFFFF;
    padding: 25px 0 0 0;
}
.shirt-image {
    height: 300px;
    width: 300px;
}

